<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <header>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/producto">FORMULARIO PRODUCTO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tablaProducto">TABLA PRODUCTO</a>
            </li>
        </ul>
    </header> 

    <main class="container mt-5">
        <div class="row mb-5">
            <div class="col-6">
                <a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/CMt3Zntb/super.jpg' border='0' alt='super'/></a>
            </div>
            <div class="col-6">
                <a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/2SpNtL7R/Imagen2.jpg' border='0' alt='Imagen2'/></a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <div style="position: relative; width: 100%; height: 0; padding-top: 177.7778%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAG1hr8hhl4/RVHmJCJBEPEoQmewxtWmNw/watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAG1hr8hhl4&#x2F;RVHmJCJBEPEoQmewxtWmNw&#x2F;watch?utm_content=DAG1hr8hhl4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Tu historia Aniversario de Super Mercado Moderno Rojo y Amarillo</a> 

<button href="https://www.facebook.com/ermelindaester.delgado.9"> <a href="https://www.facebook.com/ermelindaester.delgado.9" target="_blank" rel="noopener">COMUNICATE CON MIGO</a> 
</button>
                </div>
            </div>
            
    </main>

 <footer>  
   <p>Hecho por Ester Delgado 2025</p>
 </footer>   
    
    
</body>
</html>