<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <header>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/producto">FORMULARIO PRODUCTO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tablaProducto">TABLA PRODUCTO</a>
            </li>
        </ul>
    </header> 

    <main class="container mt-5">
        <div class="row mb-5">
            <div class="col-6">
                <img src="https://i.pinimg.com/736x/ee/fe/8e/eefe8ebc53045a6973aca70c15e8d37b.jpg" alt="Imagen de ejemplo" class="img-fluid">
            </div>
            <div class="col-6">
                <img src="https://img.freepik.com/premium-vector/students-programming-swarm-robotics-robotics-lab-illustration_1033579-47474.jpg" alt="Imagen de ejemplo" class="img-fluid">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" title="Genially video" src="https://view.genially.com/68cf711432789c5426d914c7" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" title="Youtube video" src="https://www.youtube.com/embed/E2D3eRA-E94" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </main>

    
    
    
</body>
</html>